<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header1.css">
    <title>Header</title>
</head>
<style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

    * {
    margin: 0px;
    font-family: "Do Hyeon";

    }
</style>
<body>
    <div id="header" class="header">
        <div class="logo" onclick="navigateTo('/login')"></div>
        <div class="button-container">
            <!-- Buttons will be dynamically added here -->
        </div>
    </div>

    <script src="../js/header.js"></script>
</body>
</html>