<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/myprofile.css">
    <link rel="stylesheet" href="css/style1.css">

</head>
<body>
    <div id="loginForm">
        <h1>Login</h1>
        <p>ID</p>
        <input type="text" id="idInput" placeholder="Please enter your ID.">
        <p>Password</p>
        <input type="password" id="pwdInput" placeholder="Please enter your password.">
        <button onclick="login()">Log in</button>
        <div id="question">
            <p>Not a member yet?</p>
            <a href="/signup">Join the membership</a>
        </div>
    </div>
    <script src="path-to-your-scripts.js"></script>
</body>
</html>