<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.web.mapper.Mapper">
    <select id="showIndex" resultType="Integer">
        select n
        from test;
    </select>

    <select id="getLoginIdList" resultType="String">
        select nickname
        from user
        where nickname=#{nickname}
    </select>

    <insert id="insertUser">
        INSERT INTO user (nickname, pw)
        VALUES (#{nickname}, #{pw});
    </insert>

</mapper>