.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 75px;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .button {
    font: inherit;
    font-size: 0.9rem;
    align-items: center;
    width: 100px;
    height: 35px;
    padding-top: 0.3rem;
    margin: 0px;
    border: 0px solid;
    background-color: #ffcc00;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    transition: all 0.3s;
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    width: 90%;
    margin: 0px auto;
    justify-content: flex-end;
    align-items: center;
  }
  
  .logo {
    display: flex;
    width: 13rem;
    height: 4.5rem;
    background-size: cover;
    background-image: url("your-logo-image-url");
    align-items: flex-end;
    justify-content: center;
  }
  
  .nickname {
    width: 12.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
  }
  
  .username {
    font-weight: 700;
    width: 7rem;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
  }
  .nav__bar {
          background-color: rgb(237, 185, 43);
          padding-bottom: .8%;
          color:  #fff;
          margin: 0 auto;
      }
      
      .nav__menu {
          display: flex;
          justify-content: space-around;
          font-size: 1.2rem;
          align-items: center;
          margin: 0 auto;
          color:  #fff;
      }
      
      
      /* common */
      a {
          cursor: pointer;
          text-decoration: none;
      }
      
      li {
          list-style: none;
      }
      
      .white_font {
          color:  #fff;
      }
  
      .cate {
          margin-top: 50px; 
          align-items: flex-end;
          justify-content: center;
      }

      .category {
        background-color: transparent;
        padding-bottom: 1.0%;
        color: #fff;
        margin: 50px auto;
        width: 80%;
        border: 2px solid rgb(237, 185, 43); /* Add border style */
        border-radius: 20px; /* Adjust the value as needed for the desired roundness */
        vertical-align: middle;
    }
    .store__menu {
        display: flex;
        justify-content: space-around;
        font-size: 1.7rem;
        align-items: center;
        margin: 5px auto;
        margin-top: 5px 0;
        color:  black;
    }
    
    
    /* common */
    a {
        cursor: pointer;
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }

    .category a {
      color: black; /* Set the desired font color */
      text-decoration: none; /* Remove underline from links if needed */
  }

    .cate {
        margin-top: 50px; 
        align-items: flex-end;
        justify-content: center;
    }    


  .category2 {
      background-color: transparent;
      padding-bottom: 1.0%;
      color: #fff;
      margin: 5px auto;
      width: 80%;
      border: 2px solid rgb(237, 185, 43); /* Add border style */
      border-radius: 20px; /* Adjust the value as needed for the desired roundness */
      vertical-align: middle;
    }
    .store__menu2 {
        display: flex;
        justify-content: space-around;
        font-size: 1.7rem;
        align-items: center;
        margin: 5px auto;
        margin-top: 5px 0;
        color:  black;
    }
    
    
    /* common */
    a {
        cursor: pointer;
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }

    .category a {
      color: black; /* Set the desired font color */
      text-decoration: none; /* Remove underline from links if needed */
  }

    .cate {
        margin-top: 50px; 
        align-items: flex-end;
        justify-content: center;
    }      