body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 75px;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.button {
    font: inherit;
    font-size: 0.9rem;
    align-items: center;
    width: 100px;
    height: 35px;
    padding-top: 0.3rem;
    margin: 0px;
    border: 0px solid;
    background-color: #ffcc00;
    border-radius: 10px;
}

.button:hover {
    transition: all 0.3s;
    font-weight: bold;
}

.button-container {
    display: flex;
    width: 90%;
    margin: 0px auto;
    justify-content: flex-end;
    align-items: center;
}

div.logo {
    display: flex;
    width: 13rem;
    height: 4.5rem;
    background-size: cover;
    background-image: url('../logo/logo3.jpg'); /* Add your background image path here */
    align-items: flex-end;
    justify-content: center;
}

.nickname {
    width: 12.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
}

.username {
    font-weight: 700;
    width: 7rem;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}