#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32rem;
    margin: 0px auto;
    margin-top: 6.25rem;
    border: 2px solid #f9ebff;
    border-radius: 20px;
    padding: 50px;
    background-color: #f4f4f4;
  }
  
  #loginForm h1 {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 30px;
  }
  
  #loginForm p {
    font-size: 20px;
    color: #000000;
    margin: 0px auto;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-top: 10px;
  }
  
  #loginForm input {
    width: 25rem;
    height: 40px;
    margin: 0px auto;
    padding-left: 5px;
  }
  
  #loginForm button {
    width: 12.5rem;
    height: 3rem;
    margin: 30px auto;
    background-color: #ffcc00;
    border: 0px solid #e6ccef;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  #question {
    font-size: 1rem;
    width: 12.5rem;
    display: flex;
    flex-direction: row;
    margin-left: 19rem;
    justify-content: flex-end;
  }
  
  @media all and (max-width: 414px) {
    #loginForm {
      width: auto;
      margin: 1rem;
    }
  
    #loginForm h1 {
      font-size: 1.5rem;
    }
  
    #loginForm p {
      margin-left: 0;
      font-size: 1rem;
    }
  
    #loginForm input {
      width: 100%;
    }
  
    #question {
      width: auto;
      margin: 0;
      justify-content: center;
    }
  }
  
  @media all and (max-width: 375px) {
    #loginForm {
      width: auto;
      margin: 1rem;
    }
  
    #loginForm h1 {
      font-size: 1.5rem;
    }
  
    #loginForm p {
      margin-left: 0;
      font-size: 1rem;
    }
  
    #loginForm input {
      width: 100%;
    }
  
    #question {
      width: auto;
      margin: 0;
      justify-content: center;
    }
  }