.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 130px;
  background-color: #ffffff;
  position: sticky;
  top: 0px;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position:fixed;
}

.button {
  font: inherit;
  font-size: 0.9rem;
  align-items: center;
  width: 100px;
  height: 35px;
  padding-top: 0.3rem;
  margin: 0px;
  border: 0px solid;
  background-color: #ffcc00;
  border-radius: 10px;
  cursor: pointer;
  position:sticky;
  top:0;
}

.button:hover {
  transition: all 0.3s;
  font-weight: bold;
  position:sticky;
  top:0;
}

.button-container {
  display: flex;
  width: 90%;
  margin: 0px auto;
  justify-content: flex-end;
  align-items: center;
  position:sticky;
  top:0;
}


.nickname {
  width: 12.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
  align-items: center;
  position:sticky;
  top:0;
}

.username {
  font-weight: 1000;
  width: 7rem;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  position:sticky;
  top:0;
}


.nav__bar {
        background-color: rgb(237, 185, 43);
        padding-bottom: .5%;
        height: 100px;
        color:  #fff;
        margin: 0 auto;
        width :100%;
        margin-top : 0px;
        position:sticky;
      top:0;
    }
    
    .nav__menu {
        display: flex;
        justify-content: space-around;
        font-size: 1.2rem;
        align-items: center;
        margin: 0 auto;
        color:  #fff;
        position:sticky;
  top:0;
    
    }
    
    
    /* common */
    a {
        cursor: pointer;
        text-decoration: none;
        justify-content : bottom;
        align-items: bottom;
        position:sticky;
        top:30;
    
    }
    
    li {
        list-style: none;
        position:sticky;
        top:30;
    }
    
    .white_font {
        color:  #fff;
        position:sticky;
        top:30;
    }

    .cate {
        margin-top: 50px; 
        align-items: flex-end;
        justify-content: center;
         position:sticky;
        top:0;
    }
