body {
    margin-top: 180px;
 }

 .mypost {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38rem;
    margin: 0px auto;
  } 
  
.board_wrap {
    justify-content: center;
    width: 1000px;
    margin: 100px auto; 
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 2rem;
}



.board_list {
    width: 70%;

    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}


.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}


.board_list .date {
    width: 40%;
}


a {
    text-decoration: none;
    color: inherit;
}


.bt_wrap {
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 0;
    display: flex;
}

.bt_wrap a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 32px;
}

.bt_wrap a.bt {
    display: inline-block;
    min-width: 80px;
    padding: 1px;
    background-color: #ffcc00;
    border: 0px solid #e6ccef;
    border-radius: 2px;
    font-size: 1.2rem;
    color: #fff;
}



.bt_wrap a:first-child {
    margin-left: 0px;
}


.bt_wrap a:last-child {
    margin-right: 300px;
}

.bt.next:first-child {
    float: none;
}
.button-wrapper {
    text-align: center;
  }
  
  .button {
    font: inherit;
    font-size: 0.9rem;
    width: 100px;
    height: 35px;
    padding-top: 0.3rem;
    margin: 60px;
    border: 0px solid;
    background-color: #ffcc00;
    border-radius: 4px;
    cursor: pointer;
  }
  
