<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>헤더 </title>
  <link rel = 'stylesheet' href = "../css/header.css">
  <link rel = 'stylesheet' href = "../css/index.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
 
</head>

<body>
  <div id = 'head' class="header">
    <img src="../img/Logo.png" alt="로고" width="200px" height="65px" onclick="location.href='main.html'">
    <div class="button-container">
      <div class="nickname">
        <div class="username">웹썰미</div>님
      </div>
      <!-- <button class="button" style="margin: 7px; margin-right: 15px;" onclick="location.href='/write'">새 글 작성</button>
      <button class="button" style="margin: 7px; margin-right: 15px;" onclick="logout()">로그아웃</button> -->
        <button class="button" style="margin: 7px; margin-right: 15px;" onclick="location.href='login.html'">로그인</button>
        <button class="button" style="margin: 7px; margin-right: 15px;" onclick="location.href='join.html'">회원가입</button>
    </div>
  </div>

  <div class="nav__bar">
    <ul class="nav__menu">
      <li><a href="main.html"  style="margin-top: 10px; margin-left: 10px;" class="white_font"> 홈 </a></li>
      <li><a href="postlistpage.html" style="margin-top: 10px; margin-left: 10px;" class="white_font"> 후기 목록 </a></li>
      <li><a href="freeboardpage.html" style="margin-top: 10px; margin-left: 10px;" class="white_font"> 자유게시판 </a></li>
      <li><a href="mypage.html" style="margin-top: 10px; margin-left: 10px;" class="white_font"> 마이페이지 </a></li>
    </ul>
  </div>

  <main>
    <div class= "container">
        <div class = "row g-3">
            <article class="list">
                <a class="article" href="/370443/v/323131023">
                    <div class="desc">
                        <h2 class="medium bold">방학 때 대겹 공겹 필기 준비반</h2>
                        <p class="medium">공기업 준비 중인데 듣는거 어떤가요? 그냥 인강 끊고 혼자 준비하는게 낫겠죠?</p>
                        <div class="info">
                            <ul class="status">
                                <li title="댓글" class="comment">1</li>
                            </ul>
                            <time class="small">03:50</time>
                            <h3 class="small">익명</h3>
                        </div>
                    <hr></div>
                    <input type="hidden" name="323131023_comment_anonym" value="0"></a>
                <div class="comments"></div>
            </article>
        
        </div>
    </div>

    <div id="container" class="article">
        <input type="hidden" id="isUser" value="1">
        <input type="hidden" id="boardId" value="369269">
        <aside class="none">
          <div class="title">
            <a class="hamburger"></a>
          <h1><a href="/369269">새내기게시판</a></h1></div>
        </aside>
    
        <div class="wrap title"><h1><a href="/369269">새내기게시판</a></h1><hr></div><div class="wrap categories"><div class="category selected"><span>전체</span></div><div class="category"><span>24학번</span></div><div class="category"><span>23학번</span></div><div class="category"><span>22학번</span></div><div class="category"><span>21학번 이전</span></div></div>
        <div class="wrap bubbles none"></div>
    
        <div class="wrap articles">
    
    
    
    <article class="list"><a class="article" href="/369269/v/323039580">
    <div class="desc"><h2 class="medium bold">광운대 새내기</h2><p class="medium">할거 없음 들어와. 새내기 방이얌<br>카카오톡 오픈채팅을 시작해 보세요.<br>링크를 선택하면 카카오톡이 실행됩니다.
    
    
    
    
    
    
    <br>광운대학교 24학번 새내기<br>https://open.kakao.com/o/gTknAGTf</p><div class="info"><ul class="status"><li title="댓글" class="comment">3</li></ul><time class="small">11/24</time><h3 class="small">익명</h3></div><hr></div><input type="hidden" name="323039580_comment_anonym" value="0"></a><div class="comments"></div></article>
    
    <article class="list"><a class="article" href="/369269/v/322985135"><div class="desc"><h2 class="medium bold">심심한데...</h2><p class="medium">심심한데 카톡하실분!!!</p><div class="info"><ul class="status"><li title="댓글" class="comment">7</li></ul><time class="small">11/23</time><h3 class="small">익명</h3></div><hr></div><input type="hidden" name="322985135_comment_anonym" value="0"></a><div class="comments"></div></article>
    
    
    
    <article class="list"><a class="article" href="/369269/v/322957614"><div class="desc"><h2 class="medium bold">노트북 어느정도 사양이어야 하나요?</h2><p class="medium">엘지 그램정도이면 되나요? 사양이 좋아야 수업 따라가나요? 전자공학과욥</p><div class="info"><ul class="status"><li title="댓글" class="comment">2</li></ul><time class="small">11/23</time><h3 class="small">익명</h3></div><hr></div><input type="hidden" name="322957614_comment_anonym" value="0"></a><div class="comments"></div></article>
    
    <article class="list"><a class="article" href="/369269/v/322915369"><div class="desc"><h2 class="medium bold">전자과입니다!</h2><p class="medium">입학전에 미적이랑 물리만 공부해가면 될까여??</p><div class="info"><ul class="status"><li title="댓글" class="comment">12</li></ul><time class="small">11/22</time><h3 class="small">익명</h3></div><hr></div><input type="hidden" name="322915369_comment_anonym" value="0"></a><div class="comments"></div></article>
    
    
    <article class="list"><a class="article" href="/369269/v/322881260"><div class="desc"><h2 class="medium bold">입학 장학금</h2><p class="medium">이번에 종합으로 최초합했는데 종합전형은 아예 장학금이 없나요??? 만약 있다면 합격자 확인 밑에 뜨나요?</p><div class="info"><ul class="status"><li title="댓글" class="comment">2</li></ul><time class="small">11/22</time><h3 class="small">익명</h3></div><hr></div><input type="hidden" name="322881260_comment_anonym" value="0"></a><div class="comments"></div></article>
    
    </form>
    <a href="/369269/p/2" class="next">다음</a></div></div>
        <hr>
        <div class="rightside"></div>
      </div>
      
  </main>









  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script>
    // Replace this with your actual logout logic
    function logout() {
      alert("로그아웃 되었습니다.");
      window.location.href = '/';
    }
  </script>
</body>

</html>
